.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 999em;
    height: 48px;
    font-weight: 600;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.button {
    gap: 8px;
}

.button--large {
    height: 64px;
    font-size: 24px;
    padding-left: 48px;
    padding-right: 48px;
}

.button--large {
    gap: 16px;
}

.button--orange {
    background-color: var(--orange);
    color: var(--white);
}
.button--orange:hover {
    background-color: var(--blue);
    color: var(--white);
}

.button--orange2 {
    background-color: var(--orange);
    color: var(--white) !important;
}
.button--orange2:hover {
    background-color: var(--white);
    color: var(--blue) !important;
}

.button--white {
    background-color: var(--white);
    color: var(--blue);
}
.button--white:hover {
    background-color: var(--blue);
    color: var(--white);
}
