.features {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 100%));
    gap: 16px;
}
@media (min-width: 768px) {
    .features {
        grid-template-columns: repeat(2, minmax(0, 50%));
        gap: 32px;
    }
}

.feature {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.feature__icon {
    width: 160px;
    height: 160px;
    background-color: var(--off-white);
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 72px;
    line-height: 80px;
    color: var(--orange);
    flex-shrink: 0;
    margin-right: 32px;
}
.feature-title {
    margin-bottom: 16px;
}
.feature-description {
    color: #666;
}