.features {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -24px -48px;
}
.features .feature {
    width: calc(50% - 48px);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 24px 48px;
}
.features .feature .feature__icon {
    width: 160px;
    height: 160px;
    background-color: var(--off-white);
    /* border: var(--orange) 4px solid; */
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    line-height: 88px;
    color: var(--orange);
    flex-shrink: 0;
    margin-right: 32px;
}
.features .feature .feature-title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
}
.features .feature .feature-description {
    color: #666;
}