.masthead {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--blue);
    color: var(--white);
    min-height: calc(100vh - 96px);
}
.masthead:after {
    content: '';
    width: 100%;
    min-height: 720px;
    background-image: url('../masthead.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto;
    position: relative;
    z-index: 1;
}
.masthead .container {
    padding-top: 64px;
    margin-bottom: calc(-360px + 32px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;
    position: relative;
    z-index: 2;
}