.section {
    background-color: var(--white);
    color: var(--blue);
    padding-top: 48px;
    padding-bottom: 48px;
}

@media (min-width: 768px) {
    .section {
        padding-top: 64px;
        padding-bottom: 64px;
    }
}

.section--white {
    background-color: var(--white);
    color: var(--blue);
}

.section--off-white {
    background-color: var(--off-white);
    color: var(--blue);
}

.section--orange {
    background-color: var(--orange);
    color: var(--white);
}

.section--blue {
    background-color: var(--blue);
    color: var(--white);
}
.section--blue a {
    color: var(--orange);
}

.section--full-height {
    min-height: 100vh;
}

.section--break-out {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    margin-top: -64px;
    margin-bottom: 64px;
    padding-bottom: 480px;
}

.section--panel {
    position: relative;
    margin-top: 48px;
    margin-bottom: 48px;
}
@media (min-width: 768px) {
    .section--panel {
        margin-top: 64px;
        margin-bottom: 64px;
    }
}

@media (max-width: 767px) {
    .section--panel {
        margin-left: -16px;
        margin-right: -16px;
    }
}
@media (min-width: 768px) and (max-width: 1199px) {
    .section--panel {
        margin-left: -32px;
        margin-right: -32px;
    }
}
@media (min-width: 1200px) {
    .section--panel {
        border-radius: 16px;
        margin-left: -64px;
        margin-right: -64px;
    }
}
.section--panel:first-of-type {
    margin-top: 0;
}
.section--panel:last-of-type {
    margin-bottom: 0;
}

.section--panel--offset {
    margin-top: calc(-480px - 64px);
    margin-bottom: 64px !important;
}
