/* .clients {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 25%));
    gap: 32px;
} */

.clients .client {
    filter: grayscale(1);
}

.clients .client img {
    max-height: 48px;
}

#dark-mode-toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: var(--white);
    color: var(--blue);
    border-radius: 50%;
    transition: all .2s ease-in-out;
    cursor: pointer;
}




.slick-slider {
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.slick-slide {
    display: flex !important;
    justify-content: center;
    padding: 0 16px;
}

.slick-prev,
.slick-next {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: var(--orange);
    font-size: 24px;
    line-height: 32px;
    width: 48px;
    height: 48px;
    border-radius: 999em;
    transition: .2s ease-in-out;
}

.slick-prev:hover,
.slick-next:hover {
    background-color: rgba(0, 0, 0, .125);
}

.slick-list {
    position: relative;
}

.clients .slick-list:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 16px;
    z-index: 2;
    background: linear-gradient(to right, #eee, transparent);
}

.clients .slick-list:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 16px;
    z-index: 2;
    background: linear-gradient(to left, #eee, transparent);
}

.slick-dotted {
    padding-bottom: calc(32px + 16px);
}

.slick-dots {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 8px;
}

.slick-dots li {
    text-indent: -999em;
    width: 16px;
    height: 16px;
    border: var(--blue) 2px solid;
    border-radius: 999em;
}

.slick-dots li.slick-active {
    background-color: var(--orange);
    border-color: var(--orange);
}