.sub-header {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: var(--off-white);
    color: var(--blue);
}

.sub-header--white {
    background-color: var(--white);
    color: var(--blue);
}

.sub-header--orange {
    background-color: var(--orange);
    color: var(--blue);
}

.sub-header--blue {
    background-color: var(--blue);
    color: var(--orange);
}

.sub-header__title {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 0;
}