.article-header {
    background-color: var(--blue);
    color: var(--white);
    padding-top: 48px;
    padding-bottom: 112px;
    text-align: center;

    background-image: url('../img/brandmark-black.svg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
}
.article-header a {
    color: var(--orange);
}

.article-header__title {
    @media (min-width: 992px) {
        max-width: 66.6666666667%;
        margin-left: auto;
        margin-right: auto;
    }
}

.article-header__meta {
    list-style: none;
    color: var(--orange);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.article-header__meta li {
    margin-right: 4%;
    &:last-child {
        margin-right: 0;
    }
}

.article-panel {
    background-color: var(--white);
    border-radius: 16px;
    margin-top: -128px;
    padding-left: 64px;
    padding-right: 64px;
    margin-left: -64px;
    margin-right: -64px;
    margin-bottom: 48px;
    padding-top: 48px;
    padding-bottom: 48px;
    @media (min-width: 768px) {
        padding-top: 64px;
        padding-bottom: 64px;
    }
}
@media (min-width: 992px) {
    .article-panel__inner {
        max-width: 66.6%;
        margin-left: auto;
        margin-right: auto;
    }
}

.article-panel ul,
.article-panel ol {
    list-style-position: inside;
}