.post-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.post-list .post {
    border-radius: 16px;
    border: var(--off-white) 4px solid;
}
.post-list .post-thumbnail {
    margin: -4px;
}
.post-list .post-thumbnail img {
    border-radius: 16px 16px 0 0;
    width: 100%;
    min-height: 240px;
    max-height: 320px;
    object-fit: cover;
}
.post-list .post-content {
    padding: 32px;
}
.post-list .post-title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
}
.post .post-datetime {
    color: var(--orange);
}

.post .post-datetime:last-of-type {
    margin-bottom: 0;
}

.post-list--special {
    margin-top: -48px;
}
@media (min-width: 768px) {
    .post-list--special {
        margin-top: -64px;
    }
}

.post-list--special .post:nth-child(1) {
    border: none;
}
.post-list--special .post:nth-child(1) a {
    color: var(--white);
}
.post-list--special .post:nth-child(1) .post-content {
    background-color: var(--blue);
    color: var(--white);
    width: 90%;
    @media (min-width: 992px) {
        width: 66.6%;
        padding-top: 48px;
        padding-bottom: 48px;
    }
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    text-align: center;
    margin-top: -16.6%;
    position: relative;
    z-index: 1;
}
.post-list--special .post:nth-child(1) .post-thumbnail {
    margin: 0;
}
.post-list--special .post:nth-child(1) .post-thumbnail img {
    border-radius: 0 0 16px 16px;
}

@media (min-width: 992px) {
    .post-list .post {
        width: 31%;
        margin-right: 2.33333333333%;
        margin-top: 2.33333333333%;
    }
    .post-list--special .post:nth-child(1) {
        width: 100%;
        margin-top: 0;
        margin-right: 0;
    }
    .post-list--special .post:nth-child(2) {
        margin-right: 2%;
    }
    .post-list--special .post:nth-child(3) {
        margin-right: 0;
    }
    .post-list--special .post:nth-child(2),
    .post-list--special .post:nth-child(3) {
        width: 49%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .post-list .post {
        width: 48%;
        margin-right: 4%;
        margin-top: 4%;
        &:nth-of-type(2n) {
            margin-right: 0;
        }
    }
    .post-list--special .post:nth-child(1) {
        width: 100%;
        margin-top: 0;
        margin-right: 0;
    }
    .post-list--special .post {
        margin-right: 4%;
        &:nth-of-type(2n) {
            margin-right: 4%;
        }
        &:nth-of-type(2n+1) {
            margin-right: 0;
        }
    }
}

@media (max-width: 767px) {
    .post-list .post {
        width: 100%;
        margin-top: 4%;
        &:nth-child(1) {
            margin-top: 0;
        }
    }
}