* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;

    box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --black: #000000;
    --orange: #F0A151;
    --blue: #12284c;
    --off-white: rgb(238, 238, 238);
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    background-color: var(--blue);
    color: var(--white);
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: var(--white);
}

.main {
    min-height: 100vh;
}