.social {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 32px;
    li {
        font-size: 24px;
        margin-left: 16px;
        &:first-child {
            margin-left: 0;
        }
        a {
            width: 48px;
            height: 48px;
            background-color: var(--orange);
            color: var(--white);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .2s ease-in-out;
            &:hover {
                background-color: var(--white);
                color: var(--blue);
            }
        }
    }
}