.feature-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
}
@media (min-width: 992px) {
    .feature-list > .feature-list-item {
        display: flex;
        flex-flow: row nowrap;
        width: 48%;
        margin-right: 4%;
        margin-top: 4%;
        &:nth-child(1),
        &:nth-child(2) {
            margin-top: 0;
        }
        &:nth-of-type(2n) {
            margin-right: 0;
        }
    }
    .feature-list > .feature-list-item > .feature-list-item__icon {
        margin-right: 4%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .feature-list > .feature-list-item {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        margin-top: 4%;
        &:nth-child(1) {
            margin-top: 0;
        }
    }
    .feature-list > .feature-list-item > .feature-list-item__icon {
        margin-right: 4%;
    }
}

@media (max-width: 767px) {
    .feature-list > .feature-list-item {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;
        width: 100%;
        margin-top: 4%;
        &:nth-child(1) {
            margin-top: 0;
        }
    }
    .feature-list > .feature-list-item > .feature-list-item__icon {
        margin-bottom: 4%;
    }
}
.feature-list-item__icon {
    background-color: var(--off-white);
    color: var(--orange);
    width: 128px;
    height: 128px;
    border-radius: 999em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
    .fa, .fab, .fad, .fal, .far, .fas {
        font-size: 64px;
    }
}
.feature-list-item__title {
    font-size: 24px;
    margin-bottom: 16px;
}
.feature-list-item__description {
    margin-bottom: 0;
}