// .feature-cards {
//     display: flex;
//     flex-flow: row wrap;
//     justify-content: center;
//     .feature-card {
//         width: 33.3%;
//     }
// }

.feature-card {
    padding: 32px;
    background-color: var(--white);
    color: var(--blue);
    border-radius: 16px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, .125) 0 0 16px;
    margin-bottom: 16px;
}

.feature-card__icon {
    background-color: var(--off-white);
    color: var(--orange);
    width: 128px;
    height: 128px;
    border-radius: 999em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    .fa, .fab, .fad, .fal, .far, .fas {
        font-size: 64px;
    }
}

.feature-card__title {
    margin-top: 0;
    margin-bottom: 0;
}