.masthead {
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: var(--blue);
    color: var(--white);
    min-height: calc(100vh - 96px);
}

.masthead__image {
    width: 100%;
    min-height: 640px;
    max-height: 75vh;
    height: 100vh;
    background-image: url('../img/masthead4.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 100%;
    position: relative;
    z-index: 1;
}

.masthead .container {
    padding-top: 64px;
    margin-bottom: -64px;
    position: relative;
    z-index: 2;
}

.masthead__title {
    font-size: 40px;
    color: var(--orange);
    text-align: center;
    margin-bottom: 0;
}

@media (min-width: 992px) {
    .masthead .container {
        padding-top: 128px;
    }
    .masthead__title {
        font-size: 48px;
        max-width: 66.6666666667%;
        margin-left: auto;
        margin-right: auto;
    }
}