.staff-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
}
@media (min-width: 992px) {
    .staff-list > .staff-list-item {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 48%;
        margin-right: 4%;
        margin-top: 4%;
        &:nth-child(1),
        &:nth-child(2) {
            margin-top: 0;
        }
        &:nth-of-type(2n) {
            margin-right: 0;
        }
    }
    .staff-list > .staff-list-item > .staff-list-item__icon {
        margin-right: 4%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .staff-list > .staff-list-item {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 100%;
        margin-top: 4%;
        &:nth-child(1) {
            margin-top: 0;
        }
    }
    .staff-list > .staff-list-item > .staff-list-item__icon {
        margin-right: 4%;
    }
}

@media (max-width: 767px) {
    .staff-list > .staff-list-item {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;
        width: 100%;
        margin-top: 4%;
        &:nth-child(1) {
            margin-top: 0;
        }
    }
    .staff-list > .staff-list-item > .staff-list-item__icon {
        margin-bottom: 4%;
    }
}
.staff-list-item__icon {
    background-color: var(--white);
    border: var(--orange) 2px solid;
    width: 128px;
    height: 128px;
    border-radius: 999em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    img {
        max-height: 96px;
        border-radius: 999em;
    }
}
.staff-list-item__title {
    font-size: 24px;
    margin-bottom: 16px;
}
.staff-list-item__description {
    margin-bottom: 0;
}