.sub-header {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: var(--off-white);
    color: var(--blue);
}

.sub-header--off-white {
    background-color: var(--off-white);
    color: var(--blue);
}

.sub-header--white {
    background-color: var(--white);
    color: var(--blue);
}

.sub-header--orange {
    background-color: var(--orange);
    color: var(--blue);
}

.sub-header--blue {
    background-color: var(--blue);
    color: var(--orange);
}

.sub-header__title {
    font-size: 32px;
    @media (min-width: 768px) {
        font-size: 36px;
    }
    @media (min-width: 992px) {
        font-size: 40px;
    }
    margin-top: 0;
    margin-bottom: 0;
}